services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:1.9.0
    environment:
      #- TRUST_DOWNSTREAM_PROXY=true
      - TRUST_DOWNSTREAM_PROXY=false
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      #- ./data:/usr/share/nginx/html

#  nginx-proxy-acme:
#    image: nginxproxy/acme-companion:2.6
#    environment:
#      - NGINX_PROXY_CONTAINER=nginx-proxy
##      - NGINX_DOCKER_GEN_CONTAINER=nginx-proxy
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock:ro
#      - ./certs:/etc/nginx/certs
#      - ./data:/usr/share/nginx/html
#      - ./acme:/etc/acme.sh

  whoami:
    image: jwilder/whoami
    environment:
      - VIRTUAL_HOST=whoami.dev.tcrow.io
      #- VIRTUAL_PORT=80
      - VIRTUAL_PORT=443
      - VIRTUAL_PROTO=https
      #- VIRTUAL_HOST=whoami.local

